@model CreationViewModel

<div class="row w-100 m-auto" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12 align-content-center">
        <form asp-action="Edit" asp-controller="CreationsPlatform" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Creation.Genres" hidden value="@Model.Creation.Genres">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" asp-for="Creation.Id" readonly>
                <label asp-for="Creation.Id">@Html.DisplayNameFor(m => m.Creation.Id)</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" asp-for="Creation.Author.Username" readonly>
                <label asp-for="Creation.Author.Username">@Html.DisplayNameFor(m => m.Creation.Author.Username)</label>
            </div>
            @* <input type="text" class="form-control" asp-for="Author.Id" hidden> *@

            <div class="form-floating mb-2">
                <input type="text" class="form-control" asp-for="Creation.Title">
                <label asp-for="Creation.Title">@Html.DisplayNameFor(m => m.Creation.Title)</label>
                <span asp-validation-for="Creation.Title" class="text-danger"></span>
            </div>
                @for (var i = 0; i < Model.Genres.Count; i++)
                {
                    @* <div class="form-floating mb-1"> *@
                    @*     <select type="text" class="form-control" asp-for="Genres[i]"> *@
                    @*     <label asp-for="Genres[i]">@Html.DisplayNameFor(m => m.Genres[i])</label> *@
                    @*     <span asp-validation-for="Genres[i]" class="text-danger"></span> *@
                    @* </div> *@
                }
            <div class="form-floating mb-2">
                <textarea class="form-control m-auto w-100" rows="19" asp-for="Creation.Content"></textarea>
                <label asp-for="Creation.Content">@Html.DisplayNameFor(m => m.Creation.Content)</label>
                <span asp-validation-for="Creation.Content" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary mb-2">Опубликовать</button>
            <a class="w-100 btn btn-lg btn-secondary" asp-action="Index">Назад</a>
        </form>
    </div>
</div>