@model List<CreationsPlatformWebApplication.Models.Creation.CreationModel>

<a asp-controller="CreationsPlatform" asp-action="Create" class="btn btn-lg w-100 btn-primary">
    Опубликовать новое произведение
</a>
<table class="table table-sm table-hover table-bordered table-striped">
    <thead>
    <tr>
        <th>
            <a>
                @Html.DisplayNameFor(m => m.First().Id)
            </a>
        </th>
        <th>
            <a>
                @Html.DisplayNameFor(m => m.First().Title)
            </a>
        </th>
        <th>
            <a>
                @Html.DisplayNameFor(m => m.First().Author)
            </a>
        </th>
        <th>
            <a>
                @Html.DisplayNameFor(m => m.First().PublicationDate)
            </a>
        </th>
        <th>
            <a>
                @Html.DisplayNameFor(m => m.First().Rating)
            </a>
        </th>
        <th class="text-center">Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var creation in Model)
    {
        <tr>
            <td>
                @creation.Id
            </td>
            <td>
                <a class="link" asp-controller="CreationsPlatform" asp-action="GetById" asp-route-id="@creation.Id">
                    &quot;@creation.Title&quot;
                </a>
            </td>
            <td>@creation.Author.Username</td>
            <td>@creation.PublicationDate</td>
            <td>@creation.Rating (@creation.RatingCount оценок)</td>
            <td class="m-auto text-center">
                <a asp-controller="CreationsPlatform" asp-action="Edit" asp-route-id="@creation.Id" class="btn btn-sm btn-warning">
                    Изменить
                </a>
                <a id="delete-btn" class="btn btn-sm btn-danger" onclick="deleteItem(@creation.Id)">
                    Удалить
                </a>
            </td>
        </tr>
    }

    </tbody>
</table>

<script type="text/javascript">
    document.getElementById("delete-btn").addEventListener("click", deleteItem);
    async function deleteItem(id) {
        try  {
            let confirmedDelete = confirm("Вы уверены, что хотите удалить это произведение?")
            if (!confirmedDelete) return
            await fetch(`/CreationsPlatform/` + id, {
                method: "DELETE",
                headers: { "Accept": "application/json", "Content-Type": "application/json" }
            });
            alert("Успешно удалено!")
            window.location.href = '/';
        } catch (error) {
            console.log(error);
            alert('Произошла ошибка при удалении/Нет доступа');
        }
    }
</script>